* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

a {
    text-emphasis: none;
}

.main-component {
    width: 1100px;
    margin: 0 auto
}

/* button */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}

/* title */
.pre-title {
    letter-spacing: 0.5rem;
    color:gray;
    position: relative;
    padding-left: 40px;
    width: fit-contemt;
    font-weight: 500;
    font-size: 1rem;
}

.pre-title::before{
    content:"";
    width: 20px;
    height: 1px;
    background: black;
    position: absolute;
    left: 50%;
}

/* logo dan navbar menui */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transform: 0.2s ease-in-out;
    -webkit-transform: 0.2s ease-in-out;
    margin-right: 50px;
    margin-left: 50px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: black;
}

nav ul li a{
    color: black;
}

/* Home section */
#home {
    height: 500px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 4rem;
    font-weight: 700;
    margin: 0.4rem 0 1rem;
    color: rgb(43, 202, 226);
}

.home-right img {
    width: 300px;
    border-radius: 0.7rem;
    margin-right: 100PX;
}



.home-left {
    position: relative;
    margin-right: 200PX;
    margin-left: 50PX;
}
